/* footer */
.footer {
  background-color: #181818;
  color: var(--text);
  font-family: Inter, system-ui,'Open Sans', Arial;
  width: 100%;
  box-sizing: border-box;
}

.contenedor-footer {
  display: flex;
  gap: 28px;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
}

.footer-text {
  color: var(--muted);
  line-height: 1.5;
  width: 400px;
  text-align: justify;
  font-style: italic;
}

.footer-col{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 700;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-list li {
  cursor: default;
  font-size: 20px;
  font-weight: 600;
}

.contact-info {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 600;
  text-align: right;
}

.footer-contact{
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 14px;
}

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img{
    margin: 0;
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.04);
  color: var(--muted);
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
  text-align: center;
}