.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  min-height: 140px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-req {
  display: flex;
  height: 40px;
  font-weight: 600;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.modal-confirm {
  display: flex;
  justify-content: center;
  background-color: #00ff08;
  color: black;
  font-weight: 600;
  border: 1px solid transparent;
}

.modal-confirm:hover {
  border: 1px solid #005203;
}

.modal-return {
  background-color: #000000;
  font-weight: 600;
  color: white;
  border: 1px solid transparent;
}

.modal-return:hover {
  border: 1px solid #005203;
}

.modal-return:active {
  transform: scale(0.95);
}

.modal-login {
  background-color: #00ff08;
  width: 102px;
  display: flex;
  box-sizing: border-box;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: black;
  padding: 10px 20px;
  border: 1px solid transparent;
}

.modal-login:hover {
  border: 1px solid #005203;
}

.modal-login:active {
  transform: scale(0.95);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}