.logeoButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.logeoButton:disabled {
  background-color: #aaa !important;
  color: #eee;
  cursor: not-allowed;
}
