.generalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.appContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 14px;
  background-color: #111111;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 0px #ffffff56;
}