:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 0;
  height: 46px;
  width: 102px;
  display: flex;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/*Estilo SignUp.jsx*/

.formContainer {

  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  max-width: 600px;
  
  
}
.formTitle{
  font-size: 35px;
  margin: 20px;
}
.subTitle{
  font-size: 22px;
}
.formStep {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
 .formData {
  background-color: #1e1e1e;
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-content: center;
  
}
.formGroup {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
    
}
.formLabel {
  font-size: 13px;
}
.formButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 68px;
  align-items: center;
  
}
.stepButton {
  color: white;
  font-size: 11px;
  background-color: #1e1e1e;
  text-align: center;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 12px;
}

.formInput {
  box-sizing: border-box;
  height: 28px;
  max-width: 220px;
  padding: 0 14px;
  color: white;
  background-color: #757575;
  width: 240px;
  border-radius: 25px;
  font-size: 12px;
  outline: none;
  border: none;
}
.backButton {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.nextButton {
  background-color: #00ff09;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.formReturn{
  font-weight: 500;
}
.toLogin {
  color: #00ff09;
}

/*Estilo de Login.jxs*/

.loginData {
  background-color: #1e1e1e;
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-content: center;
  
}

.loginGroup {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
    
}
.loginLabel {
  font-size: 18px;
}
.loginInput {
  box-sizing: border-box;
  height: 38px;
  max-width: 350px;
  padding: 0 14px;
  color: white;
  background-color: #757575;
  width: 400px;
  border-radius: 25px;   
  font-size: 12px;
  outline: none;
  border: none;
}
.loginText {
  font-size: 12px;
  margin: 0px;
  padding: auto;
}


.loginButton {
  background-color: #00ff08;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

