.navbar {
  display: flex;
  align-items: center;
  min-width: 100vh;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}

.logoContainer {
  margin: 0;
  display: flex;
  margin-left: 60px;
  min-width: 300px;
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.logoImg {
  width: 40px;
  margin: 0 auto;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 1000px;
  width: 100%;
  justify-content: space-evenly;
}

.navList li {
  cursor: pointer;
  font-weight: 500;
}

.authButtons {
  display: flex;
  min-width: 300px;
  margin-right: 60px;
  justify-content: end;
  gap: 25px;
}

.authButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signButton, .loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 102px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
}

.signButton {
  background-color: #00ff08;
  color: #000000;

}

.signButton:hover {
  border-color: #005503;
}

.signButton:active {
  transform: scale(0.95);
}

.signButton Link {
  color: #000000;
}

.loginButton {
  background-color: #000000;
  color: #ffffff;
}

.loginButton:hover {
  border-color: #005503;
}

.loginButton:active {
  transform: scale(0.95);
}