.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  min-width: 100vh;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 40px;
  background-color: #181818;
  border-radius: 14px 14px 0 0;
}

.logoContainer {
  margin: 0;
  display: flex;
  min-width: 300px;
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.logoContainer:active {
  transform: scale(0.98);
}

.logoImg {
  width: 40px;
  margin: 0 auto;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 1000px;
  width: 100%;
  justify-content: space-evenly;
}

.navList li {
  cursor: pointer;
  font-weight: 500;
}

.navList li:hover {
  color: #00af06de;
}

.navList li:active {
  transform: scale(0.95);
}

.authButtons {
  display: flex;
  min-width: 300px;
  justify-content: end;
  gap: 25px;
}

.authButtons {
  display: flex;
  align-items: center;
}

.signButton,
.loginButton,
.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 102px;
  border: 1px solid #cecece;
  border-radius: 6px;
  font-size: 1em;
  font-weight: 500;
}

.signButton {
  background-color: #00ff08;
  color: #000000;
}

.signButton:hover {
  border-color: #005503;
}

.signButton:active {
  transform: scale(0.95);
}

.signButton Link {
  color: #000000;
}

.loginButton {
  background-color: #000000;
  color: #ffffff;
}

.loginButton:hover {
  border-color: #005503;
}

.loginButton:active {
  transform: scale(0.95);
}

.logoutButton {
  width: 115px;
  border: 1px solid red;
  color: red;
  background-color: #151616;
}

.logoutButton:hover {
  border-color: rgb(110, 36, 36);
}

.logoutButton:active {
  transform: scale(0.95);
}
